@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: #444343;
    width: 100%;
    height: 100%;
    font-family: "Roboto Serif", serif;
    color: white;
    font-size: 1.rem;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #253659;
}
header h1{
    font-weight: bold;
    margin-right: 20px;
}
header span{
    color: #03A696;
}
header img{
    width: 80px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
nav a{
    color: white;
    background-color: #04BF9D;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    height: 20%;
    text-align: center;
    margin-left:10px;
}
nav a:hover{
    background-color: #03A696;
    transform: translateY(-10px) scale(1.1);
} */
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 40px 200px 40px;
    grid-template-rows: 1fr 150px;
}
.caixa{
    background-color: lightgray;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
}
#topo{
    grid-area: 1 / 1 / 2 / -1;
}
#menu{
    grid-area: 2 / 1 / -3 / -1;
}
#principal{
    grid-area: 3 / 1 / -2 / 2;
}
#lateral{
    grid-area: 3 / -2 / -2 / -1;
}
#rodape{
    grid-area: -2  / 1 / -1 / -1;
 }